<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
         <ul>
            <li><h1>Educacion 1</h1></li>
            <li><h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa debitis dignissimos excepturi repellat incidunt, porro autem, delectus dolores rem quasi eaque eius odit molestiae qui odio pariatur sit et officiis.</p>
         </ul>
         <ul>
            <li><h1>Educacion 2</h1></li>
            <li><h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa debitis dignissimos excepturi repellat incidunt, porro autem, delectus dolores rem quasi eaque eius odit molestiae qui odio pariatur sit et officiis.</p>
         </ul>
         <ul>
            <li><h1>Educacion 3</h1></li>
            <li><h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa debitis dignissimos excepturi repellat incidunt, porro autem, delectus dolores rem quasi eaque eius odit molestiae qui odio pariatur sit et officiis.</p>
         </ul>
    </div>


</div>
