
<div class="row"> 
   <h1>Hard & Soft Skills</h1>
      <div class="text - center col-sm-4 col-md-4 col-lg-4">
         <circle-progress
         [percent]="90"
         [title]=" 'PROBANDO TITULO' "
         [titleColor]="'blue'"
         [radius]="100"

         [outerStrokeWidth]="16"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'#C7E596'"
         [animation]="true"
         [animationDuration]="300"
         [imageSrc]="' ../assets/logos/html.png '"
         [showImage]="true"
         [imageHeight]="70"
         [imageWidth]="70"
         [showUnits]="false"
         [subtitle]="'html'"
         [showSubtitle]="false"
></circle-progress>
      </div>
      <div class="text - center col-sm-4 col-md-4 col-lg-4">
         <circle-progress
         [percent]="90"
         [title]=" 'PROBANDO TITULO' "
         [titleColor]="'blue'"
         [radius]="100"

         [outerStrokeWidth]="16"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'#C7E596'"
         [animation]="true"
         [animationDuration]="300"
         [imageSrc]="' ../assets/logos/CSS.png '"
         [showImage]="true"
         [imageHeight]="70"
         [imageWidth]="70"
         [showUnits]="false"
         [subtitle]="'html'"
         [showSubtitle]="false"
></circle-progress>
      </div>
      <div class="text - center col-sm-4 col-md-4 col-lg-4">
         <circle-progress
         [percent]="90"
         [title]=" 'PROBANDO TITULO' "
         [titleColor]="'blue'"
         [radius]="100"

         [outerStrokeWidth]="16"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'#C7E596'"
         [animation]="true"
         [animationDuration]="300"
         [imageSrc]="' ../assets/logos/js.png '"
         [showImage]="true"
         [imageHeight]="70"
         [imageWidth]="70"
         [showUnits]="false"
         [subtitle]="'html'"
         [showSubtitle]="false"
></circle-progress>
      </div>
      <div class="text - center col-sm-4 col-md-4 col-lg-4">
         <circle-progress
         [percent]="90"
         [title]=" 'PROBANDO TITULO' "
         [titleColor]="'blue'"
         [radius]="100"

         [outerStrokeWidth]="16"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'#C7E596'"
         [animation]="true"
         [animationDuration]="300"
         [imageSrc]="' ../assets/logos/git.png '"
         [showImage]="true"
         [imageHeight]="70"
         [imageWidth]="70"
         [showUnits]="false"
         [subtitle]="'html'"
         [showSubtitle]="false"
></circle-progress>
      </div>
      <div class="text - center col-sm-4 col-md-4 col-lg-4">
         <circle-progress
         [percent]="90"
         [title]=" 'PROBANDO TITULO' "
         [titleColor]="'blue'"
         [radius]="100"

         [outerStrokeWidth]="16"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'#C7E596'"
         [animation]="true"
         [animationDuration]="300"
         [imageSrc]="' ../assets/logos/grupal.png '"
         [showImage]="true"
         [imageHeight]="70"
         [imageWidth]="70"
         [showUnits]="false"
         [subtitle]="'html'"
         [showSubtitle]="false"
></circle-progress>
      </div>
      <div class="text - center col-sm-4 col-md-4 col-lg-4">
         <circle-progress
         [percent]="90"
         [title]=" 'PROBANDO TITULO' "
         [titleColor]="'blue'"
         [radius]="100"

         [outerStrokeWidth]="16"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'#C7E596'"
         [animation]="true"
         [animationDuration]="300"
         [imageSrc]="' ../assets/logos/eng.png '"
         [showImage]="true"
         [imageHeight]="70"
         [imageWidth]="70"
         [showUnits]="false"
         [subtitle]="'html'"
         [showSubtitle]="false"
></circle-progress>
      </div>
      

</div>
